*{
    box-sizing: border-box;
    font-family: sans-serif;
}

:root{
    --spacing-small: 8px;
    --spacing-regular: 16px;

    --font-small: 0.5rem;
    --font-regular: 1rem;
    --font-large: 2rem;
    --font-xl: 4rem;

    --font-semibold: 600;

    background-color: rgb(255, 255, 214);
}
h1,h2,h3{
    margin-top: 0;
    margin-bottom: 10px;
}
p{
    margin: var(--spacing-small);
}
body{
    width: 400px;
    margin: auto;
}

/* mobile first approach */
.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "current current"
    "hourly hourly"
    "daily daily"
    "wind humidity";
    gap: var(--spacing-regular);
    padding: var(--spacing-regular);
}
.container>section{
    padding: var(--spacing-regular);
    border-radius: var(--spacing-regular);
    background-color: rgba(198, 239, 255, 0.63);
}

#current_forecast{
    grid-area: current;
    text-align: center;

}
#current_forecast .temp{
    font-size: var(--font-xl);
}
#current_forecast .description, #current_forecast .min-max-temp {
    font-size: var(--font-regular);
    font-weight: var(--font-semibold);
    text-transform: capitalize;
}

#hourly_forecast{
    grid-area: hourly;
}

#hourly_forecast .hourly-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-auto-flow: column;
    overflow-x: auto;
    text-align: center;
}
#hourly_forecast .hourly-container{
    font-weight: var(--font-semibold);
}


#hourly_forecast .heading{
    text-align: center;
}
#daily_forecast{
    grid-area: daily;
}
#wind{
    grid-area: wind;
    text-align: center;
    font-weight: var(--font-semibold);

}
#humidity{
    grid-area: humidity;
    font-weight: var(--font-semibold);
    text-align: center;
}